<div style="margin-top: 7rem">
    <h4 class="position-static" style="font-size: 50px">Welcome to</h4><h3><strong class="text-primary" style="font-size: 200px">FrensBook</strong></h3>
    <p class="w-50">Discover a new level of social connectivity with <b>Frensbook</b>,
    a dynamic app that empowers you to share, engage, and connect with a local
    community. Elevate your social experience and unleash your digital potential
    with Frensbook today.</p>
    <%= link_to "Sign in", new_user_session_path, class:"btn btn-primary w-25" %>
</div>
